/* 
    Created on : 10 févr. 2018, 17:20:56
    Author     : Philippe SIMIER
*/
            .recherche{
                border: 1px solid #a8d4b1;
                background-color: #c6f7d0;
                margin: 2px 0px;
                padding: 40px;
                border-radius: 4px;
                width: 250px;
            }
            #suggestions{
                float: left;
                list-style: none;
                margin-top: -16px;
                padding: 0;
                width: 179px;
                position: absolute;
                margin-left: -39px;
            }
            #suggestions li{
                padding: 10px;
                background: #f0f0f0;
                border-bottom: #bbb9b9 1px solid;
                list-style-type: none;
            }
            #suggestions li:hover{
                background: #ece3d2;
                cursor: pointer;
            }
