/* 
    Feuille de style pour calculatrice 4 opérations
    Created on : 10 févr. 2018, 18:25:05
    Author     : Philippe SIMIER
*/
.calculatrice {
    padding: 5px;
    background-color: #ccc;
    border-radius: 5px;
    font-size: 0;
}

.calculatrice #number {
    width: 98%;	
    height: 50px;	
    border: none;
    background-color: #eee;	
    text-align: right;
    font-size: 30px;
    padding-right: 10px;
    margin: 1%;
}

.calculatrice .row { 
    margin: 0px;
}

.calculatrice .btn{
    width: 23%;
    margin: 1%;
    display: inline-block;
    background-color: black;
    color: white;
    font-size: 30px;
    border-radius: 5px;
    height: 50px;
    text-align: center;
}

.calculatrice .op{
    background-color: grey;
}

.calculatrice .double{
    width: 48%;
    background-color: grey;
}
